/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./zakovat.jpg'); /* Zakovat rami */
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  /* Container */
  .container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #f4d03f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  /* Table styles */
  .table {
    width: 100%;
    margin-top: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.2rem;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  td {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  td:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  /* Highlight top 3 */
  tr.top-three {
    background-color: #ffd700;
    font-weight: bold;
  }
  /* Highlight top 2 */
  tr.top-two {
    background-color: #38e415;
    font-weight: bold;
  }
  /* Highlight top 1 */
  tr.top-one {
    background-color: #d60a0a;
    font-weight: bold;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    th, td {
      font-size: 1rem;
      padding: 10px;
    }
  
    button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    th, td {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 14px;
    }
  }
  